upstream backend {
    {% for server in upstreams.backend.servers %}
    server {{ server.address }}:{{ server.port }} weight={{ server.weight }};
    {% endfor %}
}

server {
    listen {{ nginx_http_template.default.port }};
    server_name {{ nginx_http_template.default.server_name }};

    location / {
        proxy_pass http://backend;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
